/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
body {
  margin: 0px
}

.app-card{
  background-color: rgba(255, 255, 255, .90);
  padding-top: 16px !important;
}

.app-card-or-modal-header{
  color: rgba(0,0,0,.54);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px !important;
}

.app-default-font{
  color: rgba(0,0,0,.84);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px !important;
}

.app-label{
  width: 133.33333%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0,0,0,.54);
  top: 1.28125em;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.value-under-app-label{
  margin-top: 8px;
  margin-bottom: 24px;
}