<div *ngIf="user; else missingUser">
  <mat-card-subtitle class="app-card-or-modal-header"><span translate>PRESENT_A_GIFT</span></mat-card-subtitle>
  <mat-card-content>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <pre class="angular-with-newlines">{{user.about}}</pre>
  </mat-card-content>
</div>

<ng-template #missingUser>
  <mat-card-subtitle class="app-card-or-modal-header"><span translate>GIVE_TO</span></mat-card-subtitle>
  <mat-card-header><span translate>NOBODY</span></mat-card-header>
</ng-template>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]=null><span translate>CLOSE</span></button>
</mat-dialog-actions>
