<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="userDetails != undefined; else waitForUsername">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <span>{{userDetails.username}}</span>
    <span class="example-spacer"></span>

    <button mat-button>About me</button>
    <button mat-button>Groups I belong to</button>
    <button mat-button>Groups managed by me</button>
    <button mat-button (click)="doLogout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<app-user [username]='userDetails.username'></app-user>
</div>
<ng-template #waitForUsername>Login problem</ng-template>


