.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: url("../assets/gifts_wood.jpg");
  background-size: cover;
}

.app-container{
  padding: 16px;
}

.app-toolbar{
  background-color: rgba(178,34,34, .85);
  color: cornsilk;
}
