<!--The content below is only a placeholder and can be replaced.-->
<div class="overlay"
*ngIf="userDetails != undefined && groupsWhereOwner!=undefined; else waitForData">

<mat-toolbar class="app-toolbar">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <span>{{userDetails.username}}{{getSelectedGroupOutput()}}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="deselectGroup()">Dashboard</button>
    <button mat-button (click)="doLogout()">Logout</button>
  </mat-toolbar-row>
  </mat-toolbar>

<div class="app-container" *ngIf="!selectedGroup; else showGroupContainer">
  <div class="row">
    <div class="col-sm">
      <app-groups-member *ngIf="!isAdmin" (groupSelected)="selectGroup($event, false)">
      </app-groups-member>
    </div>
    <div class="col-sm" *ngIf="!isAdmin">
      <app-user [username]='userDetails.username'></app-user>
    </div>
    <div class="col-sm" *ngIf="!isAdmin">
      <app-groups-owner (groupSelected)="selectGroup($event, true)">
      </app-groups-owner>
    </div>
    <div class="col-sm" *ngIf="isAdmin">
      <app-admin-panel [username]='userDetails.username'></app-admin-panel>
    </div>
    <div class="col-sm" *ngIf="isAdmin">
      <app-user-maneger [username]='userDetails.username'></app-user-maneger>
    </div>
  </div>
</div>
  <ng-template #showGroupContainer>
    <app-group-container [username]='userDetails.username' [selectedGroup]='selectedGroup'></app-group-container>
  </ng-template>
</div>
<ng-template #waitForData>
  <mat-spinner></mat-spinner>
  <button mat-button (click)="doLogout()">Logout</button>
</ng-template>


