<mat-card class="app-card" *ngIf="user; else missingUser">
  <mat-card-subtitle class="app-card-or-modal-header"><span translate>PRESENT_A_GIFT</span></mat-card-subtitle>
  <mat-card-content>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <pre class="angular-with-newlines">{{user.about}}</pre>
  </mat-card-content>
</mat-card>

<ng-template #missingUser>
  <mat-card class="app-card">
    <mat-card-subtitle class="app-card-or-modal-header"><span translate>PRESENT_A_GIFT</span></mat-card-subtitle>
    <mat-card-content>
      <mat-card-title><span translate>NOBODY</span></mat-card-title>
    </mat-card-content>
</mat-card>
</ng-template>
