<mat-card class="white-alpha-background" *ngIf="user; else missingUser">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>About me:</mat-card-subtitle>
    <p class="angular-with-newlines">{{user.about}}</p>
    <p>{{childrenOutput}}</p>
  </mat-card-content>
</mat-card>

<ng-template #missingUser>
<mat-card class="white-alpha-background">
  <mat-card-header>Nobody is assigned to you</mat-card-header>
</mat-card>
</ng-template>
