<div class="group-container">
  <div class="row">
    <div class="col-sm">
      <app-user-group [username]='username'></app-user-group>
    </div>
    <div class="col-sm" *ngIf="!selectedGroup.isOwned">
      <app-immutable-draw [selectedGroup]="selectedGroup" (drawPerformed)="refresh()"></app-immutable-draw>
    </div>
    <div class="col-sm" *ngIf="selectedGroup.isOwned">
      <app-mutable-draw [selectedGroup]="selectedGroup" (drawPerformed)="refresh()"></app-mutable-draw>
    </div>
    <div class="col-sm">
      <app-user-draw [groupName]='selectedGroup.name'></app-user-draw>
    </div>
    <div class="col-sm" *ngIf="selectedGroup.isOwned">
      <app-members [groupName]='selectedGroup.name' (includeChanged)="updateDrawButtonState($event)"></app-members>
    </div>
    <div class="col-sm" *ngIf="selectedGroup.isOwned">
      <app-requests [groupName]='selectedGroup.name' (requestAccepted)="refreshMembers()"></app-requests>
    </div>
  </div>
</div>
