<mat-card class="app-card" *ngIf="group; else waitForGroup">
  <h2 mat-dialog-title>{{ 'DRAW_SETTINGS' | translate:groupNameTranslationParam }}</h2>
  <mat-card-subtitle><span translate>DUE_DATE</span></mat-card-subtitle>
  <p>{{group.drawDate | date:'yyyy-MM-dd'}}
    <button mat-button class="leftButton" (click)="addEvent()"><span translate>Add to calendar</span></button>
  </p>
  <mat-card-subtitle><span translate>VALUE_OF_GIFT</span></mat-card-subtitle>
  <p>{{group.giftValue}}</p>
  <mat-card-subtitle><span translate>VALUE_OF_GIFT_FOR_CHILD</span></mat-card-subtitle>
  <p>{{group.childGiftValue}}</p>
  <mat-card-subtitle><span translate>CONTACT</span></mat-card-subtitle>
  <p>{{group.collectorContact}}</p>
  <mat-card-subtitle><span translate>COUNT_CHILDREN</span></mat-card-subtitle>
  <p>{{getIncludeChildrenOutput()}}</p>
  <section class="example-section">
    {{getIsDrawnOutput()}}
  </section>
</mat-card>
<ng-template #waitForGroup>loading group information...</ng-template>
