.subtitle {
    display: block;
    color: rgba(0,0,0,.54);
    box-sizing: inherit;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.app-card{
    background-color: rgba(255, 255, 255, .90);
}

.example-form {
    min-width: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, .90);
}

.example-full-width {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100px;
}

.leftButton {
  float: right;
}

