.group-list{
  background-color: rgba(255, 255, 255, .90);
  padding: 8px;
  border-radius: 2px;
}

.example-margin {
  margin-bottom: 20px;
}

.upper-button{
  margin-bottom: 9px;
}

.line-through{
  text-decoration: line-through;
}
