<mat-list class="group-list" *ngIf="members; else waitForMembers">
  <h3 mat-line mat-subheader><span translate>GROUP_MEMBERS</span></h3>
  <button class="upper-button" mat-raised-button (click)="updateIncludeMembers()"><span translate>REMEMBER_INCLUDES</span></button>
  <button mat-raised-button (click)="openAddMemberModal()"><span translate>ADD_MEMBER_BY_HAND</span></button>
  <mat-list-item *ngFor="let member of members">
    <h4 mat-line [style.text-decoration]=
      "member.includedInLastDraw || member.includedInLastDraw==null ? 'inherit':'line-through'" >
      {{member.firstName}} {{member.lastName}}</h4>
    <h5 mat-line>{{member.preferredUsername}}</h5>
    <button mat-icon-button *ngIf="member.isVirtual" (click)="openEditUserModal(member)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf="member.isVirtual" (click)="openDrawnUserModal(member)">
      <mat-icon>face</mat-icon>
    </button>
    <mat-checkbox class="example-margin" [(ngModel)]="member.includeInFutureDraw"
                  name="includeCheckbox" (change)="emitIncludeChanged(member, $event)">
      <span translate>INCLUDE</span>
    </mat-checkbox>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<ng-template #waitForMembers>
  <mat-spinner></mat-spinner>
</ng-template>
